.products-container {
  font-family: "Jost", sans-serif;
}

.products-header-image {
  position: relative;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1612423284934-2850a4ea6b0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  margin-bottom: 6rem;
}

.header-sub-container {
  padding: 100px 0 100px 0;
  text-align: center;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.products-info-container {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.page-title {
  z-index: 5;
  font-size: 55px;
  line-height: 70px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
}

.active {
  color: #ff6280;
  text-decoration: none;
}
.link-items{
  color: #ffff;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .products-info-container {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    .page-title {
      z-index: 5;
      font-size: 55px;
      line-height: 70px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: #fff;
    }
  }
}
