.form-container {
  font-family: "Jost", sans-serif;
  position: relative;
  display: flex;
  height: 100vh;

  .form-image-container {
    background-image: url("https://images.unsplash.com/photo-1593380090147-a2192b72a9ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80");
    background-size: cover;
    background-position-x: center;
    flex: 1;
    background-position-y: top;
  }

  .form-wrapper {
    padding-right: 50px;
    flex: 1;
    text-align: left;
    margin: 100px 0 0 100px;
    display: flex;
    flex-direction: column;

    .nav-tabs {
      border-bottom: 1px solid #70707085;
      flex-wrap: wrap;
      font-size: 24px;
      font-weight: 500;
      color: #999999;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      div {
        cursor: pointer;
        margin-right: 30px;
      }
    }

    .form-login-container,
    .form-signup-container {
      display: flex;
      flex-direction: column;
      h1 {
        margin: 20px auto auto 0;
      }

      p {
        margin-bottom: 50px;
      }
    }
  }
}

.input-container {
  .email-container,
  .password-container,
  .fullname-container {
    transition: 0.3s;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: #666666;
      margin-bottom: 0.5rem;

      span {
        color: #ff6280;
      }
    }

    input {
      border-radius: 5px;
      outline: none;
      border: none;
      background-color: #f2f3f5;
      height: 40px;
      padding: 5px 10px;
      font-size: 16px;
      font-weight: 400;
    }
  }
  
}
.form-submit-button {
    border: none;
    background-color: #ff6280;
    color: #ffff;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;


    &:disabled{
     cursor: not-allowed;
     background-color: #ffa5b6; 
    }
  }
.alternative-button{
  width: 50%;
  margin: auto;

  p{
    margin: 0;
  }
  span{
    color:#ff6280;
    cursor: pointer;

   
  }
}

.error-message{
  margin-top: 10px;
  color: red;
}

.item-active {
  border-bottom: 3px solid #ff6280;
  color: #000;
}

@media (max-width: 800px) {
  .form-image-container {
    display: none;
  }

  .form-container {
    .form-wrapper {
      flex: 1;
      text-align: left;
      margin: 5px;
      padding: 40px;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
    }

    .input-container {
      .email-container,
      .password-container,
      .fullname-container {
        width: 100%;
      }
    }
  }

  .form-submit-button {
    width: 100%;
  }

  .alternative-button{
    width: 100%;
    margin: auto;
  
  }
}
