.navbar-area {
  border-bottom: 1px solid #dddd;
  font-style: "Jost", sans-serif;
}

.container {
  padding: 0 30px;
  display: flex;
  height: 110px;
  max-width: 1410px;
  margin: auto;
  color: #74767e;
}

.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
  }
}
.navbar-links,
.nav-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    div {
      width: 5px;
      height: 5px;

      background: transparent;
      border-radius: 50%;

      margin-bottom: 5px;
    }

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;
      text-transform: uppercase;

      font-weight: 500;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }
}
.display{
  display: block;
}
.hide{
  display: none;
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  a {
    text-decoration: none;
    color: var(--secondary-color);
    height: 100%;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .account-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      color: #ff6280;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }


  .account-options {
    z-index: 9999;
    border-radius: 5px;
    position: absolute;
    width: 100px;
    border-radius: 5px;
    background-color: #dddd;
    left: 50%;
    transform: translateY(0%) translateX(-50%);
    top: 165%;
    background-color: #ff6280;
    right: 0;
    color: white;
  }

  .triangle-up {
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateY(0%) translateX(-50%);
    right: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ff6280;
  }



  .items-parent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;

    .optios{
      cursor: pointer;
    }
    .options:last-child {
      margin-top: 10px;

      a{
        cursor: pointer;
      }
    }
  }
  .cart-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    svg {
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:hover{
        color:#ff6280;
      }
    }

    .cart-size{
      display: flex; 
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 70%;
      bottom: 80%;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: #ff6280;
      color: #fff;
      font-size: 14px;
      span{
        padding: 0;
        margin: 0;  
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 10px;
    justify-content: space-between;
  }

  .logo-wrapper {
    width: 100px;
  }

  .navbar-right {
    .account-container,
    .cart-container {
      width: 30px;
      height: 30px;
      // margin-left: 0px
      padding: 0 0 0 5px;
    }
  }
  .navbar-links {
    display: none;
  }
}
